

.todo-footer {


    height: 32px;

    display: flex;
    gap: 8px;
    align-items: center;

}

.todo-footer .content {
    flex: 1;
}

.todo-footer input[type="checkbox"] {
    width: 16px;
    height: 100%;
    accent-color: #0072FE;
}